{% if site.layout == 'stacked' %}
{% assign metadata_styles = 'd-md-inline-block mr-3' %}
{% else %}
{% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<style>
  code {
    font-family: Consolas, "courier new";
    color: rgb(220, 255, 220);
    padding: 1px;
    font-size: 100%;
  }

  div.j {
    text-align: left;
  }
</style>
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">
  Nikhil Phatak
</h1>
<div class="j">
  <h2 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">
    Me
  </h2>
  <p class="mb-3 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    Hi, I'm Nikhil. I'm a software and infrastructure engineer at <code>$CYBERSECURITY_FIRM</code>. I have previously
    worked at <code>$TRAVEL_TECH_COMPANY</code> and <code>$DATABASE_TECH_COMPANY</code>. I also do freelance work: I set
    up and automate lightweight software stacks for small companies. Feel free to fill in my
    environment variables with some DuckDuckGo searches. For job opportunities and business inquiries, please
    email me at <code>nikhilphatak1</code> AT <code>gmail</code> DOT <code>com</code>.
  </p>
</div>

<br><br>

<div class="j">
  <h2 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">
    What I'm Great At
  </h2>
  <p class="mb-3 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    At work I write a lot of <code>Scala</code>, <code>Java</code>, <code>Ruby/Rails</code>, <code>Bash</code>, and
    <code>Python</code>.
    At past jobs and recreationally, I have developed applications using <code>C</code>, <code>C++</code>, <code>Go</code>,
    <code>Rust</code>, and <code>Node.js</code>.
  </p>
  <p class="mb-3 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    I am fluent in using infrastructure automation tools like <code>Terraform</code>, <code>Docker</code>,
    <code>Jenkins</code>, and <code>Spinnaker</code>.
  </p>
  <p class="mb-3 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    On a daily basis I work with technologies like <code>Kafka</code>, <code>Redis</code>, <code>NGINX</code>,
    <code>ELK</code>, <code>MySQL</code>, <code>PostgreSQL</code>, <code>Debian</code>
    and <code>Ubuntu Linux</code>, and cloud providers <code>AWS</code> and <code>Azure</code>.
  </p>
</div>

<br><br>

<div class="j">
  <h2 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">
    About This Site
  </h2>
  <p class="mb-3 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    This site is intended to be lightweight. It doesn't require javascript to run. I may add links to other parts of my
    web presence, but at the moment I have not done so. I'm sure you'll be able to find me either way.
  </p>
</div>